#===Application===
#Schedule
APPLICATION_APP_ID	=	schedule
APPLICATION_APP_TEXT = \u8BA1\u5212\u4EFB\u52A1
APPLICATION_APP_ICONCLS	=	iconfont icon-schedule
APPLICATION_APP_INDEX	=	2
APPLICATION_APP_PERMISSION	=	1

#===Module===
#PlanManager
MODULE_PLANMANAGER_ID	=	planManagerModule
MODULE_PLANMANAGER_APPLICATION_ID	=	schedule
MODULE_PLANMANAGER_TEXT = \u8BA1\u5212\u7BA1\u7406
MODULE_PLANMANAGER_ICONCLS	=	iconfont icon-schedule-planmanager
MODULE_PLANMANAGER_INDEX	=	10
MODULE_PLANMANAGER_PERMISSION	=	1

#TaskManager
MODULE_TASKMANAGER_ID	=	taskManagerModule
MODULE_TASKMANAGER_APPLICATION_ID	=	schedule
MODULE_TASKMANAGER_TEXT = \u4EFB\u52A1\u7BA1\u7406
MODULE_TASKMANAGER_ICONCLS	=	iconfont icon-schedule-taskmanager
MODULE_TASKMANAGER_INDEX	=	20
MODULE_TASKMANAGER_PERMISSION	=	1

#ScheduleSystem
MODULE_SCHEDULESYSTEM_ID	=	scheduleSystemModule
MODULE_SCHEDULESYSTEM_APPLICATION_ID	=	schedule
MODULE_SCHEDULESYSTEM_TEXT = \u7CFB\u7EDF\u7BA1\u7406
MODULE_SCHEDULESYSTEM_ICONCLS	=	iconfont icon-system
MODULE_SCHEDULESYSTEM_INDEX	=	30
MODULE_SCHEDULESYSTEM_PERMISSION	=	1


#===Menu===
#=PlanManager Module=
#PersonalPlan
MENU_PERSONALPLAN_ID	= personalPlanMenu
MENU_PERSONALPLAN_APPLICATION_ID	=	schedule
MENU_PERSONALPLAN_MODULE_ID = planManagerModule
MENU_PERSONALPLAN_TEXT = \u4E2A\u4EBA\u8BA1\u5212
MENU_PERSONALPLAN_ROUTE_ID	= plan/personalplan
MENU_PERSONALPLAN_ICONCLS	=	iconfont icon-schedule-planmanager-personal
MENU_PERSONALPLAN_INDEX	=	10
MENU_PERSONALPLAN_PERMISSION	=	1

#DepartmentPlan
MENU_DEPARTMENTPLAN_ID	= departmentPlanMenu
MENU_DEPARTMENTPLAN_APPLICATION_ID	=	schedule
MENU_DEPARTMENTPLAN_MODULE_ID = planManagerModule
MENU_DEPARTMENTPLAN_TEXT = \u90E8\u95E8\u8BA1\u5212
MENU_DEPARTMENTPLAN_ROUTE_ID	= plan/departmentplan
MENU_DEPARTMENTPLAN_ICONCLS	=	iconfont icon-schedule-planmanager-department
MENU_DEPARTMENTPLAN_INDEX	=	20
MENU_DEPARTMENTPLAN_PERMISSION	=	1

#Schedule PersonalPlanSearch
MENU_PERSONALPLANSEARCH_ID	= PersonalPlanSearchMenu
MENU_PERSONALPLANSEARCH_APPLICATION_ID	=	schedule
MENU_PERSONALPLANSEARCH_MODULE_ID = planManagerModule
MENU_PERSONALPLANSEARCH_TEXT = \u4E2A\u4EBA\u8BA1\u5212\u67E5\u8BE2
MENU_PERSONALPLANSEARCH_ROUTE_ID	= plan/personalplansearch
MENU_PERSONALPLANSEARCH_ICONCLS	=	iconfont icon-schedule-personalplansearch
MENU_PERSONALPLANSEARCH_INDEX	=	30
MENU_PERSONALPLANSEARCH_PERMISSION	=	0

#Schedule DepartmentPlanSearch
MENU_DEPARTMENTPLANSEARCH_ID	= DepartmentPlanSearchMenu
MENU_DEPARTMENTPLANSEARCH_APPLICATION_ID	=	schedule
MENU_DEPARTMENTPLANSEARCH_MODULE_ID = planManagerModule
MENU_DEPARTMENTPLANSEARCH_TEXT = \u90E8\u95E8\u8BA1\u5212\u67E5\u8BE2
MENU_DEPARTMENTPLANSEARCH_ROUTE_ID	= plan/departmentplansearch
MENU_DEPARTMENTPLANSEARCH_ICONCLS	=	iconfont icon-schedule-departmentplansearch
MENU_DEPARTMENTPLANSEARCH_INDEX	=	40
MENU_DEPARTMENTPLANSEARCH_PERMISSION	=	0

#Schedule WorkReport
MENU_WORKREPORT_ID	= WorkReportMenu
MENU_WORKREPORT_APPLICATION_ID	=	schedule
MENU_WORKREPORT_MODULE_ID = planManagerModule
MENU_WORKREPORT_TEXT = \u5DE5\u4F5C\u6C47\u62A5
MENU_WORKREPORT_ROUTE_ID	= plan/workreport
MENU_WORKREPORT_ICONCLS	=	iconfont icon-schedule-planmanager-personal
MENU_WORKREPORT_INDEX	=	50
MENU_WORKREPORT_PERMISSION	=	0

#Schedule WorkSummary
MENU_WORKSUMMARY_ID	= WorkSummaryMenu
MENU_WORKSUMMARY_APPLICATION_ID	=	schedule
MENU_WORKSUMMARY_MODULE_ID = planManagerModule
MENU_WORKSUMMARY_TEXT = \u5DE5\u4F5C\u603B\u7ED3
MENU_WORKSUMMARY_ROUTE_ID	= plan/worksummary
MENU_WORKSUMMARY_ICONCLS	=	iconfont icon-schedule-planmanager-personal
MENU_WORKSUMMARY_INDEX	=	60
MENU_WORKSUMMARY_PERMISSION	=	0

#Schedule WorkReportSearch
MENU_WORKREPORTSEARCH_ID	= WorkReportSearchMenu
MENU_WORKREPORTSEARCH_APPLICATION_ID	=	schedule
MENU_WORKREPORTSEARCH_MODULE_ID = planManagerModule
MENU_WORKREPORTSEARCH_TEXT = \u5DE5\u4F5C\u6C47\u62A5\u67E5\u8BE2
MENU_WORKREPORTSEARCH_ROUTE_ID	= plan/workreportsearch
MENU_WORKREPORTSEARCH_ICONCLS	=	iconfont icon-schedule-personalplansearch
MENU_WORKREPORTSEARCH_INDEX	=	70
MENU_WORKREPORTSEARCH_PERMISSION	=	0

#Schedule WorkSummarySearch
MENU_WORKSUMMARYSEARCH_ID	= WorkSummarySearchMenu
MENU_WORKSUMMARYSEARCH_APPLICATION_ID	=	schedule
MENU_WORKSUMMARYSEARCH_MODULE_ID = planManagerModule
MENU_WORKSUMMARYSEARCH_TEXT = \u5DE5\u4F5C\u603B\u7ED3\u67E5\u8BE2
MENU_WORKSUMMARYSEARCH_ROUTE_ID	= plan/worksummarysearch
MENU_WORKSUMMARYSEARCH_ICONCLS	=	iconfont icon-schedule-personalplansearch
MENU_WORKSUMMARYSEARCH_INDEX	=	80
MENU_WORKSUMMARYSEARCH_PERMISSION	=	0

#=TaskManager Module=
#Assignment
MENU_ASSIGNMENT_ID	= assignmentMenu
MENU_ASSIGNMENT_APPLICATION_ID	=	schedule
MENU_ASSIGNMENT_MODULE_ID = taskManagerModule
MENU_ASSIGNMENT_TEXT = \u5E03\u7F6E\u4EFB\u52A1
MENU_ASSIGNMENT_ROUTE_ID	= task/assignment
MENU_ASSIGNMENT_ICONCLS	=	iconfont icon-schedule-task-assignment
MENU_ASSIGNMENT_INDEX	=	30
MENU_ASSIGNMENT_PERMISSION	=	1

#=ScheduleSystem=
#ScheduleDict
MENU_SCHEDULEDICT_ID	= scheduleDictMenu
MENU_SCHEDULEDICT_APPLICATION_ID	=	schedule
MENU_SCHEDULEDICT_MODULE_ID = scheduleSystemModule
MENU_SCHEDULEDICT_TEXT = \u5B57\u5178\u7BA1\u7406
MENU_SCHEDULEDICT_ROUTE_ID	= schedule/ScheduleDict
MENU_SCHEDULEDICT_ICONCLS	=	iconfont icon-dict-management
MENU_SCHEDULEDICT_INDEX	=	10
MENU_SCHEDULEDICT_PERMISSION	=	1